@* @model Timeoff.ResultModels.CalendarDayResult
<td class="calendar_cell half_1st @{CssClasses(Model.IsMorning, Model.MorningColourClass);}">
    <span@{ShowLabel();}>@Model.Day</span>
</td>
<td class="calendar_cell half_2nd @{CssClasses(Model.IsAfternoon, Model.AfternoonColourClass);}"></td>

@functions {
    public void CssClasses(bool isLeave, string colourClass)
    {
        @:day_@Model.Day

        if (Model.IsWeekend)
        {
            @:weekend_cell
        }

        if (Model.IsPublicHoliday)
        {
            @:public_holiday_cell
        }

        if (isLeave)
        {
            if (Model.IsPending)
            {
                @:leave_cell_pending
            }
            else
            {
                @:leave_cell @colourClass
            }
        }

        if (Model.IsToday)
        {
            @:current_day_cell
        }
    }

    public void ShowLabel()
    {
        if (Model.IsPublicHoliday)
        {
            ToolTip($"Public holiday: {Model.HolidayName}");
        }
        else if (Model.IsToday)
        {
            ToolTip("Today");
        }
        else if (Model.IsLeave)
        {
            @: class="leave-details-summary-trigger" data-leave-id="@Model.LeaveId"

            string label = "";
            if (!string.IsNullOrEmpty(Model.LeaveMessage))
                label = Model.LeaveMessage + ": ";

            if (Model.IsToday)
                label += "Today";
            if (Model.LeaveStatus == Timeoff.LeaveStatus.New)
                label += "New absence waiting approval";
            else if (Model.LeaveStatus == Timeoff.LeaveStatus.PendingRevoke)
                label += "Revoked waiting for approval";
            else if (Model.LeaveStatus == Timeoff.LeaveStatus.Approved)
                label += "Approved absence";

            ToolTip(label);
        }
    }

    public void ToolTip(string label)
    {
        @: data-toggle="tooltip" data-placement="top" title="@label"
    }
} *@