.calendar_month {
  width: 100%;
  margin-bottom: 20px;

  td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  thead {
    text-align: center;
    font-weight: bolder;
  }

  td.calendar_cell {
    width: 16px !important;
    min-width: 16px !important;
    max-width: 16px !important;
    position: relative;
    padding: 5 0;
    text-align: center;
    //     padding-top: 5px;
    //     padding-bottom: 5px;

    span {
      position: relative;
         left: 9px;
      //   top: -1px;
      display: block;
      text-align: center;
      z-index: 10;
    }
  }

  td.current_day_cell {
    background: #ffcdd2;
    color: #ffffff;
  }

  td.weekend_cell {
    background: #f5f7f8;
  }

  td.public_holiday_cell {
    background: #31b0d5;
    color: #ffffff;
  }
}
