<h1>Public holidays</h1>

<div class="row">
    <div class="col-md-6 lead">
        Public holidays for {{companyName()}}`s account in {{currentYear()}}
    </div>
    <div class="col-md-3 col-md-offset-3">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span aria-hidden="true" class="fa fa-plus"></span> Add new
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="publicholiday-import-btn">Import default holidays for {{currentYear()}}</a></li>
                <li><a href="#" id="add_new_team" data-toggle="modal" data-target="#add_new_public_holiday_modal">Add new public holiday</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<flash-message/>
<div class="row">
    <div class="col-xs-2">
        <a class="btn btn-default" routerLink="." [queryParams]="{year: lastYear()}"><span aria-hidden="true" class="fa fa-chevron-left"></span> {{lastYear()}} </a>
    </div>
    <div class="col-xs-8 calendar-section-caption">
        <strong>January - December {{currentYear()}}</strong>
    </div>
    <div class="col-xs-2">
        <a class="btn btn-default pull-right" routerLink="." [queryParams]="{year:nextYear()}">{{nextYear()}} <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row clearfix">
    <div class="col-md-8">
        <div class="row">
            <calendar monthFormat="MMMM" [start]="start()" [monthCount]="12" [days]="holidays()" colStyle="col-md-4"/>
        </div>
    </div>

    <div class="col-md-4">

        <div class="row">
            <div class="col-md-4"><label class="control-label">Date</label></div>
            <div class="col-md-6"><label class="control-label">Holiday Name</label></div>
        </div>

        <div class="row">&nbsp;</div>

        <form id="update_publicholiday_form">
            @for (h of holidaysForm.controls; track $index)
            {
                <div class="row" [formGroup]="h">
                    <input type="hidden" formControlName="id"/>
                    <div class="col-md-4">
                        <div class="input-append date">
                            <input type="text" datePicker class="form-control" formControlName="date" data-date-autoclose="1" data-provide="datepicker" [attr.data-date-format]="dateFormat()" data-date-week-start="1">
                            <span class="add-on"><i class="icon-th"></i></span>
                            <validator-message controlName="date" validatorName="invalidYear">The date must be in the selected year</validator-message>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName="name">
                        <validator-message controlName="name" validatorName="required">Name is required</validator-message>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default pull-right publicholiday-remove-btn" type="button" (click)="remove(h.value.id)" tom-test-hook="remove__@i"><span class="fa fa-remove"></span></button>
                    </div>
                </div>

                <div class="row">&nbsp;</div>
            }
            @empty {
                <div class="row">
                    <div class="col-md-12 tst-no-public-holidays text-center">No public holiday records</div>
                </div>
            }

            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <!-- <button id="publicholiday-import-btn" class="btn btn-default" type="button">Import default holidays</button> -->
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#add_new_public_holiday_modal" id="add_new_public_holiday_btn">Add new</button>&nbsp;
                        <button *ngIf="holidaysForm.length > 0" (click)="save()" type="button" class="btn btn-success single-click">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<div class="row">&nbsp;</div>

<add-new-modal (added)="create()"/>