<button type="button" class="btn btn-default dropdown-toggle" [ngClass]="colour()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush"></i> <ng-content></ng-content></button>
<ul class="dropdown-menu">
    <li><a class="btn btd-default leave_type_color_1" (click)="pick('leave_type_color_1')">Color 1</a></li>
    <li><a class="btn btd-default leave_type_color_2" (click)="pick('leave_type_color_2')">Color 2</a></li>
    <li><a class="btn btd-default leave_type_color_3" (click)="pick('leave_type_color_3')">Color 3</a></li>
    <li><a class="btn btd-default leave_type_color_4" (click)="pick('leave_type_color_4')">Color 4</a></li>
    <li><a class="btn btd-default leave_type_color_5" (click)="pick('leave_type_color_5')">Color 5</a></li>
</ul>