<dl>
    <dt>
        Allowance breakdown
        <i class="fa fa-question-circle"
           data-content="This is explanation how we get the total allowance. Hover on each number to get details what does one mean."
           data-placement="top"
           data-toggle="popover"
           data-trigger="focus hover"></i>
    </dt>
    <dd>
        <em>Nominal allowance </em>
        <span class="pull-right"
              data-content="Allowance derived from team current user belongs to."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
              id='nominalAllowancePart'>{{summary().allowance}}</span>
    </dd>
    <dd>
        <em>Carried over from {{summary().previousYear}}</em>
        <span class="pull-right"
              data-content="Allowance carried over from previous year. Note: this amount is calculated on the very first day of the year."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
              id="allowanceCarriedOverPart">{{summary().carryOver}}</span>
    </dd>
    <dd>
        <em>Individual adjustment</em>
        <span class="pull-right"
              data-content="Adjustment to allowance done by admin user."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">{{summary().adjustment}}</span>
    </dd>
    <dd>
        <em>Start/end of employment</em>
        <span class="pull-right"
              data-content="Automatic adjustment to allowance based on employee's start and end day of employment."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">{{summary().employmentRangeAdjustment}}</span>
    </dd>
    <dd>
        <em>Used so far</em>
        <span class="pull-right"
              data-content="Number of days already taken from allowance."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">{{ summary().used == 0 ? '-' : summary().used }}</span>
    </dd>
    <dd *ngIf="summary().isAccrued">
        <em>Locked so far</em>
        <span class="pull-right"
              data-content="Number of unavailable days in allowance due to accrual nature of vacation entitlement."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover">{{summary().accruedAdjustment}}</span>
    </dd>
</dl>
