<div class="panel panel-danger">
    <div class="panel-heading">
        <i class="fa fa-bomb"></i> Danger zone
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label">Remove company account</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <p><em>Completely erase data associated with {{companyName()}}'s account.</em></p>
                        <p><em> This is action cannot be reverted.</em></p>
                        <p><em> It is strongly recommended to <a href="/settings/company/backup">download</a> employees leave data first.</em></p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#remove_company_modal" type="button"><i class="fa fa-remove"></i> Delete company account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<remove-company-modal (deleted)="deleteCompany($event)"/>