<div class="modal fade" id="add_new_team_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form" id="add_new_team_form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new Team</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="name" class="control-label">Name:</label>
                        <input type="text" formControlName="name" class="form-control" id="name" required placeholder="New team name"/>
                        <validator-message controlName="name" validatorName="required">Team name is required</validator-message>
                    </div>

                    <div class="form-group">
                        <label for="allowance" class="control-label">Allowance:</label>
                        <select class="form-control" formControlName="allowance" id="allowance">
                            <option *ngFor="let d of allowance" [value]="d">{{d == 0 ? 'None' : d}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="includePublicHoliday" formControlName="includePublicHolidays" value="true">&nbsp;
                        <label for="includePublicHoliday" class="control-label">Include Public Holidays?</label>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="isAccruedAllowance" formControlName="isAccruedAllowance" value="true">&nbsp;
                        <label for="isAccruedAllowance" class="control-label">Accrued Allowance?</label>
                    </div>

                    <div class="form-group">
                        <label for="manager" class="control-label">Manager</label>
                        <user-select [control]="form.controls.managerId" for="manager"/>
                        <!-- <select class="form-control" id="manager" formControlName="managerId">
                            <option disabled></option>
                            <option *ngFor="let u of users" [value]="u.id">{{u.name}}</option>
                        </select> -->
                        <validator-message controlName="managerId" validatorName="min">A manager is required</validator-message>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="cancel()">Cancel</button>
                    <button type="button" class="btn btn-success single-click" (click)="add()" [disabled]="submitting">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


