<h1>Staff</h1>
<flash-message/>

<div class="row">
    <div class="col-md-3 lead">{{name}}'s staff</div>
    <div class="col-md-3 col-md-offset-6">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add new employee
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a routerLink="/users/import" id="import_users_btn">Import employees</a></li>
                <li><a routerLink="/users/add" id="add_new_user">Add single employee</a></li>
            </ul>
        </div>
        <form asp-action="index" method="GET">
            <input type="hidden" name="team" value="@Model.TeamId">
            <input type="hidden" name="ascsv" value="true">
            <button class="btn btn-link pull-right single-click"
                    type="submit"
                    data-content="Download current page as .CSV file"
                    data-placement="top"
                    data-toggle="popover"
                    data-trigger="focus hover">
                <i class="fa fa-download"></i> .csv
            </button>
        </form>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="col-md-3 list-group all-teams">
    <a routerLink="/users" class="list-group-item" [ngClass]="team == null ? 'selected-item' : null">All teams</a>
    <a *ngFor="let t of teams" class="list-group-item" [ngClass]="team == t.id ? 'selected-item' : null" routerLink="/users" [queryParams]="{team: t.id}">{{t.name}}</a>
</div>

<div class="col-md-9">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Is Administrator?</th>
                <th>Available allowance</th>
                <th>Days used</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users" [attr.data-vpp-user-row]="u.id">
                <td class="user-link-cell">
                    <a routerLink="/users/{{u.id}}">
                        <s *ngIf="!u.isActive">{{u.name}}</s>
                        <ng-container *ngIf="!!u.isActive">{{u.name}}</ng-container>
                    </a>
                </td>
                <td class="user_team"><a routerLink="/settings/teams/{{u.team.id}}">{{u.team.name}}</a></td>
                <td>{{u.isActive | yes}}</td>
                <td class="vpp-days-remaining">{{u.availableAllowance}}</td>
                <td class="vpp-days-used">{{u.daysUsed}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">&nbsp;</div>