Confirm registration on TimeOff.Management
=====
<p>Hello {{Name}},</p>

<p>To complete your registration process in TimeOff.Management please click on the following link:</p>

<p>{{SiteUrl}}</p>

<p>Thanks</p>