Reset password for TimeOff.Management
=====
<p>Hello <strong>{{Name}}</strong>,</p>

<p>Somebody just requested a reset password link for your account at {{> link href=(SiteUrl) text='TimeOff.Management' }}</p>

{{# if LdapAuthEnabled }}
<p>The company your account belongs to uses LDAP authentication so we cannot reset the password for you.</p>

<p>Please contact your system administrator in order to reset the password in Active directory server.</p>

{{ else }}
<p>
	Please follow the link below to proceed:

	{{> link href=(concatenate (SiteUrl) '/reset-password/?t=' (Token)) text='Request reset password' }}
</p>

<p>
	Alternatively copy and paste the following link into your browser: <pre>{{ concatenate (SiteUrl) '/reset-password/?t=' (Token) }}</pre>
</p>
{{/if}}

<p>Thanks</p>