Reset password for TimeOff.Management
=====
<p>Hello <strong>{{Name}}</strong>,</p>

<p>Your password for {{> link href=(SiteUrl) text='TimeOff.Management' }} was successfully changed.</p>

<p>Thanks</p>