div.month_container {
  height : 250px;
}

.calendar_month {
  width : 100%;

  td {
    text-align: center;
    padding-top    : 5px;
    padding-bottom : 5px;
  }
  
  thead {
    text-align: center;
    font-weight: bolder;
  }
}