<h1>New employee</h1>

<div class="row">
    <div class="col-md-6 lead">Adding new employee account</div>
    <div class="col-md-6">
        <a class="btn btn-default pull-right" routerLink="/users/import" id="import_users_btn">Import new employees <i class="fa fa-chevron-right"></i></a>
    </div>
</div>

<flash-message/>

<div class="row">
    <div class="col-md-6">
        <user-breadcrumb name="Add new employee"/>
    </div>
</div>

<div class="row main-row_header">
    <p class="col-md-12">Details of new employee</p>
</div>

<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" [formGroup]="form" id="add_new_user_form">

            <div class="form-group">
                <label for="firstName" class="col-md-3 control-label">First Name</label>
                <div class="col-md-3">
                    <input class="form-control" formControlName="firstName" for="firstName"/>
                    <validator-message controlName="firstName" validatorName="required">First name is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-md-3 control-label">Last Name</label>
                <div class="col-md-3">
                    <input class="form-control" formControlName="lastName" for="lastName"/>
                    <validator-message controlName="lastName" validatorName="required">Last name is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email Address</label>
                <div class="col-md-3">
                    <input class="form-control" formControlName="email" for="email" type="email" aria-describedby="email_help"/>
                    <validator-message controlName="email" validatorName="required">Email is required</validator-message>
                    <validator-message controlName="email" validatorName="email">Email address should be valid</validator-message>
                </div>
                <span id="email_help" class="help-block col-md-6">Email address used by employee</span>
            </div>

            <div class="form-group">
                <label for="team" class="col-md-3 control-label">Team</label>
                <div class="col-md-3">
                    <team-select [control]="form.controls.team" for="team" aria-describedby="team_help"/>
                    <!-- <select class="form-control" formControlName="team" for="team" aria-describedby="team_help">
                        <option disabled></option>
                        <option *ngFor="let t of teams" value="{{t.id}}" [attr.data-vpp]="t.id">{{t.name}}</option>
                    </select> -->
                </div>
                <span id="team_help" class="help-block col-md-6">Team employee belongs to</span>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <label for="isAdmin" class="_col-md-2 control-label">
                        <input class="" formControlName="isAdmin" for="isAdmin" type="checkbox" value="true" />
                        Is administrator user
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <label for="autoApprove" class="control-label">
                        <input class=""formControlName="autoApprove" for="autoApprove" type="checkbox" value="true"/>
                        Auto approve leave requests
                    </label>
                </div>
                <span class="help-block">Set the flag ON to streamline leave requests from this employee directly into <strong>Approved</strong> state.</span>
            </div>

            <div class="form-group">
                <label for="startDate" class="col-md-3 control-label">Started on</label>
                <div class="col-md-3 date">
                    <input class="form-control" date-picker type="text" formControlName="startDate" for="startDate" data-date-autoclose="1" data-provide="datepicker" [attr.data-date-format]="dateFormat" data-date-week-start="1" aria-describedby="start_date_help"/>
                    <validator-message controlName="startDate" validatorName="required">A start date is required</validator-message>
                </div>
                <span id="start_date_help" class="help-block col-md-6">Date when employee started (inclusive)</span>
            </div>

            <div class="form-group">
                <label for="endDate" class="col-md-3 control-label">Ended on</label>
                <div class="col-md-3 date">
                    <input class="form-control" date-picker type="text" formControlName="endDate" for="endDate" data-date-autoclose="1" data-provide="datepicker" [attr.data-date-format]="dateFormat" data-date-week-start="1" aria-describedby="end_date_help"/>
                </div>
                <span id="end_date_help" class="help-block col-md-6">
                    <div>Date when employee quits the {{companyName}}.</div>
                    <div>After this date the user is no longer able to access the application.</div>
                    <div>This is a way of deactivating user accounts.</div>
                </span>
            </div>

            <!-- @*<div class="form-group">
            <label for="password_inp" class="col-md-3 control-label">Password</label>
            <div class="col-md-3 date">
            <input class="form-control" id="password_inp" type="password" name="password_one" required value="" {{#if company.ldap_auth_enabled}} readonly {{ /if}} aria-describedby="password_inp_help">
            </div>
            <span id="password_inp_help" class="help-block col-md-6">
            {{# if company.ldap_auth_enabled }}
            <a href="/settings/company/authentication/">LDAP authentication</a> is enabled, so that password does not matter.
            {{else}}
            Define employee's password.
            {{/ if}}
            </span>
            </div>

            <div class="form-group">
            <label for="password_inp" class="col-md-3 control-label">Confirm password</label>
            <div class="col-md-3">
            <input class="form-control" id="confirm_password_inp" type="password" name="password_confirm" required value="" {{# if company.ldap_auth_enabled}}readonly{{ /if}}>
            </div>
            </div>*@ -->

            <div class="form-group">
                <div class="col-md-offset-3 col-md-3">
                    <button (click)="add()" type="button" id="add_new_user_btn" class="btn btn-success pull-right single-click">Add new employee</button>
                </div>
            </div>
        </form>

    </div>
</div>
