$primary-font-color : #61686b;
$border-color : #e5e5e5;
$link-color : #5ba4e5;

$font-size-primary : 14px;
$font-size-bigger : 16px;

$selected-item-background : #F5F7F8;

$leave_cell_font_color : #61686b;
