<h1>Emails audit</h1>
<flash-message/>

<div class="row">
    <div class="col-md-6 lead">All emails ever been sent by the system</div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="content">
        <div class="col-md-3">
            <table class="table table-hover all-teams">
                <thead>
                    <tr>
                        <th>Filter options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <filter [form]="form"/> 

                            <button (click)="search()" [disabled]="searching()" class="btn btn-info single-click">Filter</button>&nbsp;
                            <button (click)="reset()" class="btn btn-default" [disabled]="this.form.pristine">Reset</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-9">
            <results [emails]="emails()" (userSelected)="searchByUser($event)"/>

            <div class="text-center">
                <pager *ngIf="emails().length > 0" [totalPages]="totalPages()" [currentPage]="currentPage()"/>
            </div>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>
