<user-details [id]="id" [isActive]="isActive" [name]="name">
<div class="col-md-9">
    <form method="POST" [formGroup]="form">

        <user-breadcrumb [name]="name"/>

        <div class="form-group">
            <label class="control-label">Overview</label>
            <div class="progress bigger">
                <div class="progress-bar progress-bar-success"
                     [ngStyle]="{ width: usedPercent + '%' }"
                     [attr.data-content]="name + ' in current year used ' + summary.used + ' days from allowance'"
                     data-placement="top"
                     data-toggle="popover"
                     data-trigger="focus hover">
                    {{summary.used}} days used so far
                </div>
                <div class="progress-bar progress-bar-warning"
                     [ngStyle]="{ width: remainingPercent + '%' }"
                     [attr.data-content]="name + ' in current year has ' + summary.remaining + ' remaining days in allowance'"
                     data-placement="top"
                     data-toggle="popover"
                     data-trigger="focus hover">
                   {{summary.remaining}} days remaining in current year
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Days available for {{name}} to take this year</label>
            <p>{{summary.remaining}} out of {{summary.total}} in allowance</p>
        </div>

        <div class="form-group">
            <label class="control-label">Is Accrued Allowance?</label>
            <p>{{summary.isAccrued ? 'Yes' : 'No'}}</p>
            <span class="help-block">
                The way of available allowance calculation is defined on team level. <a [routerLink]="['..','team',0]">More details <i class="fa fa-angle-double-right"></i></a>
            </span>
        </div>

        <div class="row">
            <div class="col-md-5">
                <!-- <partial name="_LeaveSummary" model="Model.Summary" /> -->
            </div>

            <div class="col-md-5 col-md-offset-2">
                <!-- <partial name="_AllowanceBreakdown" model="Model.Summary" /> -->
            </div>
        </div>

        <div class="form-group">
            <label for="carried_over_allowance" class="control-label">Allowance carried over from previous year</label>
            <div class="input-group col-md-4">
                <input class="form-control" formControlName="carryOver" readonly id="carried_over_allowance" type="number" step="0.5" aria-describedby="carried_over_allowance_help">
                <span class="input-group-addon">working days</span>
            </div>
            <div id="carried_over_allowance_help" class="help-block">
                <div>Allowance adjustment based on unused holidays from previous year.</div>
                <div>It is calculated at the beginning of current year.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="adjustment" class="control-label">Allowance adjustment in current year</label>
            <div class="input-group col-md-4">
                <input class="form-control" formControlName="adjustment" id="adjustment" type="number" step="0.5" aria-describedby="adjustment_help">
                <span class="input-group-addon">working days</span>
            </div>
            <div id="adjustment_help" class="help-block">
                <div>Tune allowance for this user in current year.</div>
                <div>Could be negative as well.</div>
                <div>The value is valid during current year. Next year it needs to be re-confirmed.</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button id="save_changes_btn" (click)="save()" type="button" [disabled]="submitting" class="btn btn-success pull-right single-click">Save changes</button>
            </div>
        </div>
    </form>

    <div class="main-row_header">&nbsp;</div>
    <!-- <partial name="..\Request\_UserRequests" model="Model.LeaveRequested" /> -->
    <ng-container *ngFor="let y of groupedRequests">
        <h2>{{y[0]}}</h2>

        <requests-list [requests]="y[1]"/>
        
        <p><em>Days would be deducted from allowance:</em> <!--<span>{{ this.total_deduction }}</span>--></p>
        <div class="main-row_header">&nbsp;</div>
    </ng-container>
</div>
</user-details>