<h1>Integration API (beta)</h1>

<p class="lead">Configure access to account data via integration API</p>

<flash-message/>

<div class="row main-row_header">
    <p class="col-md-12">Description</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p>TimeOff.Management supports sharing <strong>{{name()}}'s</strong> data to other software via REST API.</p>
        <p>This page allows you to {{apiEnabled() ? 'disable' : 'enable'}} access.</p>
    </div>
</div>

<div class="row main-row_header">
    <p class="col-md-12">Configuration</p>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <label for="enabled" class="control-label">
                        <input type="checkbox" [(checked)]="apiEnabled" value="true" id="enabled" />&nbsp;
                        Enable integration API
                    </label>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="apiKey" class="col-md-3 control-label">API access key</label>
                <div class="col-md-5">
                    <input class="form-control" readonly value="{{apiKey()}}" aria-describedby="token_help" type="text" id="apiKey">
                </div>
                <span id="token_help" class="help-block">Token that allows access to {{name()}}'s data. <span class="danger">Keep it secret.</span></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-5">
                    <div class="pull-right">
                        <button type="button" (click)="regenerate()" [disabled]="updating()" class="btn btn-default single-click" id="regenerate_token_btn" name="Regenerate" value="true">Regenerate token</button>
                        <button type="button" (click)="update()" [disabled]="updating()" class="btn btn-success single-click" id="save_settings_btn">Save integration API configuration</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>