<h1>Reset password</h1>
<flash-message [messages]="messages"/>
<form class="form-horizontal" [formGroup]="passwordForm">

    <div class="row">&nbsp;</div>

    <input type="hidden" asp-for="Token" />

    <div *ngIf="showCurrent" class="form-group">
        <label for="current" class="col-md-2 control-label col-md-offset-2">Current password:</label>
        <div class="col-md-5">
            <input class="form-control" id="current" type="password" formControlName="current" />
            <validator-message controlName="current">Current password is required</validator-message>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-md-2 control-label col-md-offset-2">New password:</label>
        <div class="col-md-5">
            <input class="form-control" id="password" type="password" formControlName="password" />
            <validator-message controlName="password" validatorName="required">New password is required</validator-message>
            <validator-message controlName="password" validatorName="minlength">Password should be more than 8 chars</validator-message>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword" class="col-md-2 control-label col-md-offset-2">Confirm new password:</label>
        <div class="col-md-5">
            <input class="form-control" id="confirmPassword" type="password" formControlName="confirmPassword" />
            <validator-message controlName="confirmPassword" validatorName="notMatched">The password must match</validator-message>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-2">
            <button type="submit" class="btn btn-success single-click" id="submit" [disabled]="submitting" (click)="save()">Save</button>
        </div>
    </div>

</form>

<div class="row">&nbsp;</div>