@model Timeoff.Application.Login.LoginViewModel
@{
    Timeoff.ResultModels.FlashResult? flash = null;
}
@if (!Model.Success)
{
    flash = new()
                {
                    Errors = new[]
        {
            "Invalid credentials"
        },
                };
}


<h1>Login</h1>
<partial name="_Flash" model="flash" />
<form class="form-horizontal" asp-controller="Account" asp-action="LoginPost" method="post">

    <div class="row">&nbsp;</div>

    <div class="form-group">
        <label for="email_inp" class="col-md-2 control-label col-md-offset-2">Employee email:</label>
        <div class="col-md-5">
            <input class="form-control" id="email_inp" type="text" name="username" required>
        </div>
    </div>

    <div class="form-group">
        <label for="pass_inp" class="col-md-2 control-label col-md-offset-2">Password</label>
        <div class="col-md-5">
            <input class="form-control" id="pass_inp" type="password" name="password" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-1">
            <button type="submit" class="btn btn-success single-click" id="submit_login">Login</button>
        </div>
        <div class="col-md-4">
            <p class="pull-right">
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                @if (Model.AllowRegistrations)
                {
                    <a asp-controller="Account" asp-action="Register">Register new company</a>
                }
            </p>
        </div>
    </div>

</form>

<div class="row">&nbsp;</div>
