<form [formGroup]="form">

    <div class="form-group">
        <label for="firstName" class="control-label">First Name</label>
        <input class="form-control" formControlName="firstName" id="firstName">
        <validator-message controlName="firstName" validatorName="required">First name is required</validator-message>
    </div>

    <div class="form-group">
        <label for="lastName" class="control-label">Last Name</label>
        <input class="form-control" formControlName="lastName" id="lastName">
        <validator-message controlName="lastName" validatorName="required">Last name is required</validator-message>
    </div>

    <div class="form-group">
        <label for="email" class="control-label">Email Address</label>
        <input class="form-control" formControlName="email" id="email" type="email" aria-describedby="email_help">
        <validator-message controlName="email" validatorName="required">Email is required</validator-message>
        <span id="email_help" class="help-block">Email address used by this user</span>
    </div>

    <div class="form-group">
        <label for="team" class="control-label">Team</label>
        <team-select [control]="form.controls.team" for="team" aria-describedby="team_help"/>
        <span id="team_help" class="help-block">Team current user is part of. <a routerLink="/settings/team/{{form.controls.team.value}}">More details <i class="fa fa-angle-double-right"></i></a></span>
    </div>

    <div class="form-group">
        <label for="isAdmin" class="control-label">
            <input class="" formControlName="isAdmin" id="isAdmin" type="checkbox" value="true">
            Is administrator user
        </label>
    </div>

    <div class="form-group">
        <label for="autoApprove" class="control-label">
            <input class="" formControlName="autoApprove" id="autoApprove" type="checkbox" value="true">
            Auto approve leave requests
        </label>
        <span class="help-block">Set the flag ON to streamline leave requests from {{fullName}} directly into <strong>Approved</strong> state.</span>
    </div>

    <div class="form-group">
        <label for="startDate" class="control-label">Started on</label>
        <div class="input-group col-md-4">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control" date-picker formControlName="startDate" id="StartDate" type="text" required data-date-autoclose="1" data-provide="datepicker" [attr.data-date-format]="dateFormat()" data-date-week-start="1" aria-describedby="start_date_help">
        </div>
        <validator-message controlName="startDate" validatorName="required">Start date is required</validator-message>
        <span id="start_date_help" class="help-block">Date when employee started (inclusive)</span>
    </div>

    <div class="form-group">
        <label for="endDate" class="control-label">Ended on</label>
        <div class="input-group col-md-4">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control" date-picker formControlName="endDate" id="endDate" type="text" data-date-autoclose="1" data-provide="datepicker" [attr.data-date-format]="dateFormat()" data-date-week-start="1" aria-describedby="end_date_help">
        </div>
        <span id="end_date_help" class="help-block"><div>Date when user leaves {{companyName()}}.</div><div>After this date user is not able to access the company.</div><div>This is a way of deactivating user accounts.</div></span>
    </div>

    <div class="form-group">
        <label for="isActive" class="control-label">
            <input class="" formControlName="isActive" id="isActive" type="checkbox" value="true">
            Is user active
        </label>
        <span class="help-block">Deactivating a user will prevent the user from logging in</span>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success" (click)="resetPassword()" [disabled]="submitting()">Reset</button>
        <span class="help-block">Reset a users password. The user will need to follow instructions in the email to login again</span>
    </div>

    <div class="form-group">
        <label for="link_to_email_audit" class="control-label">
            <a routerLink="/audit/emails" [queryParams]="{user: id()}">Emails ever sent to {{fullName}}</a>
        </label>
    </div>

    <div class="form-group">
        <div class="pull-right">
            <button id="save_changes_btn" (click)="save()" [disabled]="submitting()" type="button" class="btn btn-success pull-right single-click">Save changes</button>
            <a class="btn btn-link pull-right" routerLink="/users">Cancel</a>
        </div>
    </div>

</form>
