<h1>New company</h1>

<flash-message/>

<div class="row">
    <div class="col-md-6 lead">Register new company account and supervisor user</div>
</div>

<div class="row">
    <div class="col-md-9">
        <form class="form-horizontal" [formGroup]="registerForm">

            <div class="form-group">
                <label for="companyName" class="col-md-2 control-label">Company name</label>
                <div class="col-md-6">
                    <input class="form-control" placeholder="Company name" formControlName="companyName">
                    <validator-message controlName="companyName" validatorName="required">A valid company name is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName" class="col-md-2 control-label">First Name</label>
                <div class="col-md-6">
                    <input class="form-control" placeholder="First name" formControlName="firstName">
                    <validator-message controlName="firstName" validatorName="required">A valid first name is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-md-2 control-label">Last Name</label>
                <div class="col-md-6">
                    <input class="form-control" placeholder="Last Name" formControlName="lastName">
                    <validator-message controlName="lastName" validatorName="required">A valid last name is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-2 control-label">Email Address</label>
                <div class="col-md-6">
                    <input class="form-control" type="email" placeholder="Email" formControlName="email">
                    <validator-message controlName="email">A valid email is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" placeholder="Password" formControlName="password">
                    <validator-message controlName="password" validatorName="required">A valid password is required</validator-message>
                    <validator-message controlName="password" validatorName="minlength">Password must be at least 8 characters</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" placeholder="Password" formControlName="confirmPassword">
                    <validator-message controlName="confirmPassword" validatorName="notMatched">The password must match</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="col-md-2 control-label">Country</label>
                <div class="col-md-6">
                    <select class="form-control" formControlName="country">
                        <option *ngFor="let country of countries()" [ngValue]="country.code">{{country.code}}: {{ country.name }}</option>
                    </select>
                    <validator-message controlName="country" validatorName="invalidItem">Invalid country selected</validator-message>
                </div>
            </div>

            <div class="form-group">
                <label for="timezone" class="col-md-2 control-label">Time zone</label>
                <div class="col-md-6">
                    <select class="form-control" formControlName="timezone">
                        <option *ngFor="let tz of timezones()" [ngValue]="tz.id">{{ tz.name }}</option>
                    </select>
                    <validator-message controlName="timezone" validatorName="required">Timezone is required</validator-message>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button id="submit_registration" type="submit" class="btn btn-success" (click)="register()" [disabled]="submitting()">Create</button>
                </div>
            </div>

        </form>
    </div>
</div>