@model Timeoff.Application.TeamDetails.EditTeamViewModel
<h1>@Model.Name details</h1>

<form method="post" asp-controller="Teams" asp-action="Delete" asp-route-id="@Model.Id">
  <div class="row">
    <div class="col-md-3 lead">
      Team details
    </div>
    <div class="col-md-1 col-md-offset-8">
      <button id="remove_btn" type="submit" class="pull-right btn btn-danger single-click" data-toggle="tooltip" data-placement="top" title="Remove team"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
</form>

<div class="row">&nbsp;</div>

<partial name="_Flash" model="Model.Result" />

<div class="col-md-3 list-group">
  <a asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Id" class="list-group-item selected-item">General details</a>
  <a asp-controller="Users" asp-action="Index" asp-route-team="@Model.Id" class="list-group-item">Employees from team</a>
</div>

<partial name="_Edit" />

<div class="row">&nbsp;</div>
