<h1>Employee calendar</h1>

<div class="row">
    <div class="col-md-6 lead">{{name()}}'s calendar for {{year()}}</div>
    <div class="col-md-6">
    </div>
</div>

<flash-message/>

<div class="row">&nbsp;</div>

<statistics [year]="year()" [allowanceSummary]="allowanceSummary()"/>

<div class="row"></div>

<navigation [year]="year()" [showFullYear]="showFullYear()" />

<div class="row">&nbsp;</div>

<div class="row clearfix">
    <calendar [start]="start()" [monthCount]="showFullYear() ? 12 : 4" [monthFormat]="showFullYear() ? 'MMMM' : 'MMM, yyyy'" [days]="days()"/>
</div>

@if (!showFullYear()) {
    <absences [year]="year()" [absences]="absences()"/>
}
